workflows/day3-lead-intake-dedup-airtable.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake-a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -112
      ],
      "id": "d2c780a7-2a79-4c7b-8c60-30893238a84c",
      "name": "Webhook",
      "webhookId": "ca1cdd25-d376-47ea-894f-bb2cfa81a7fd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4611dd34-21ac-4b6f-b0ce-cd4b326d6ce0",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "e33dc9c8-d468-4e70-b9df-3077098de5ef",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "27ab7319-8150-445a-b9c5-a93a55f2a3b6",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "12c54a42-4c7d-40f4-b3fe-2275496c8b1b",
              "name": "source",
              "value": "Source A",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -112
      ],
      "id": "c91a444c-52db-4ea8-984e-3cae95d44e23",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake-b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        80
      ],
      "id": "f71e0f43-eb7b-4313-af13-c6ce21580cfc",
      "name": "Webhook1",
      "webhookId": "ca1cdd25-d376-47ea-894f-bb2cfa81a7fd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4611dd34-21ac-4b6f-b0ce-cd4b326d6ce0",
              "name": "email",
              "value": "={{ $json.body.contact_email }}",
              "type": "string"
            },
            {
              "id": "e33dc9c8-d468-4e70-b9df-3077098de5ef",
              "name": "name",
              "value": "={{ $json.body.full_name }}",
              "type": "string"
            },
            {
              "id": "a92798b8-f5ff-4b81-9b2c-7825e58cd0a0",
              "name": "message",
              "value": "={{ $json.body.notes }}",
              "type": "string"
            },
            {
              "id": "12c54a42-4c7d-40f4-b3fe-2275496c8b1b",
              "name": "source",
              "value": "Source B",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        80
      ],
      "id": "68ce014f-bfd2-441c-981e-ee25d5000fdf",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9fd5f1b3-39f0-4fdf-9a5a-d25cebc25e42",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b9759972-f7d9-4cfe-83ec-5788c215d76d",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -32
      ],
      "id": "c9579abe-6581-448e-98ed-79b76a77e0d7",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        336,
        -128
      ],
      "id": "b0f3ed48-8db1-4d38-bf91-d1388d1e6484",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqIiizkKzWywgph",
          "mode": "list",
          "cachedResultName": "n8n-leads",
          "cachedResultUrl": "https://airtable.com/appqIiizkKzWywgph"
        },
        "table": {
          "__rl": true,
          "value": "tblGn8DPBAlQyZYe2",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://airtable.com/appqIiizkKzWywgph/tblGn8DPBAlQyZYe2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "name": "={{ $json.name }}",
            "message": "={{ $json.message }}",
            "source": "={{ $json.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        544,
        -128
      ],
      "id": "972b299c-9805-467c-bfdd-489b0183002d",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "xn3XVsqm3zivn6lE",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f87b2712-3968-4437-bcd2-500ff5a37500",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c70ce65ade1a728b833043e0f92b5a93171fc152edd0363471d0b606ef8387de"
  },
  "nodeGroups": [],
  "id": "VMrRiicTpXpLjMZc",
  "tags": []
}