workflows/day5-support-ticket-triager.json
{
  "name": "Support Ticket Triager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-ticket",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2c440c69-a800-4910-8ea1-16196b546f41",
      "name": "Webhook",
      "webhookId": "53b57cb6-5a8a-4633-a74b-1a313bee579e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.ticket }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a support ticket classifier. You must respond with valid JSON only. No prose, no explanation, no markdown.  Classify the support ticket into exactly one category and one sentiment.  Categories: billing, technical, general Sentiments: positive, neutral, negative  Respond with this exact JSON structure: {\"category\": \"<category>\", \"sentiment\": \"<sentiment>\", \"confidence\": <0.0-1.0>}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "42c6ed19-f172-4fe5-9513-3286580f6569",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "6f341120-679d-40b9-99a7-5d1d9bf4b402",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lsJ0uFneh9TP80qg",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"billing\", \"technical\", \"general\"]\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"positive\", \"neutral\", \"negative\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\"\n    }\n  },\n  \"required\": [\"category\", \"sentiment\", \"confidence\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "2dfe35b5-6798-4d3a-9bbc-488d8d6de1f0",
      "name": "Structured Output Parser",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "billing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "75d274e7-40b4-423f-8544-deae18fc864d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed241ff1-ec15-4f6a-a22a-3e76c90f285e",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "technical",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a73f84b7-4f0b-48f4-ad1a-5e726225c179",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        656,
        144
      ],
      "id": "0011a242-94b7-4f46-92a4-bbe480a013a2",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a631c38b-4880-40d7-8f29-750f6496054c",
              "name": "action",
              "value": "Escalate to billing team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        0
      ],
      "id": "f58e8864-c9cc-40b8-9e22-ae4d00561358",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a631c38b-4880-40d7-8f29-750f6496054c",
              "name": "action",
              "value": "assign to tier-2 support",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        208
      ],
      "id": "2e4209f9-556d-4bf1-9abb-f9f6602d41f6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a631c38b-4880-40d7-8f29-750f6496054c",
              "name": "action",
              "value": "send auto-reply",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        416
      ],
      "id": "afedd41a-f168-4fc7-8c47-2bcf4c7690a1",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e581f4e5-858b-4398-819e-d6839e40076f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c70ce65ade1a728b833043e0f92b5a93171fc152edd0363471d0b606ef8387de"
  },
  "nodeGroups": [],
  "id": "5B2aj9QshSD6PlH9",
  "tags": []
}