workflows/day6-support-triager-slack-routing.json
{
  "name": "Support Ticket Triager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-ticket",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2c440c69-a800-4910-8ea1-16196b546f41",
      "name": "Webhook",
      "webhookId": "53b57cb6-5a8a-4633-a74b-1a313bee579e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.ticket }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a support ticket classifier. You must respond with valid JSON only. No prose, no explanation, no markdown.  Classify the support ticket into exactly one category, one sentiment, and one urgency level.  Categories: billing, technical, general Sentiments: positive, neutral, negative Urgency: urgent, normal  A ticket is urgent if it mentions: system down, cannot access, data loss, security breach, payment failure, or complete inability to use the product.  Respond with this exact JSON structure: {\"category\": \"<category>\", \"sentiment\": \"<sentiment>\", \"confidence\": <0.0-1.0>, \"urgency\": \"<urgency>\"}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "42c6ed19-f172-4fe5-9513-3286580f6569",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "6f341120-679d-40b9-99a7-5d1d9bf4b402",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lsJ0uFneh9TP80qg",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"billing\", \"technical\", \"general\"]\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"positive\", \"neutral\", \"negative\"]\n    },\n    \"urgency\": {\n      \"type\": \"string\",\n      \"enum\": [\"urgent\", \"normal\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\"\n    }\n  },\n  \"required\": [\"category\", \"sentiment\", \"urgency\", \"confidence\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "2dfe35b5-6798-4d3a-9bbc-488d8d6de1f0",
      "name": "Structured Output Parser",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.urgency }}",
                    "rightValue": "urgent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "75d274e7-40b4-423f-8544-deae18fc864d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed241ff1-ec15-4f6a-a22a-3e76c90f285e",
                    "leftValue": "={{ $json.output.urgency }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        656,
        144
      ],
      "id": "0011a242-94b7-4f46-92a4-bbe480a013a2",
      "name": "Switch"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#support-urgent"
        },
        "text": "=🚨 URGENT TICKET Category: {{ $json.output.category }} Sentiment: {{ $json.output.sentiment }} Confidence: {{ $json.output.confidence }} Ticket: {{ $('Webhook').item.json.body.ticket }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        912,
        48
      ],
      "id": "9202c4f3-d8ac-4e96-a460-337c0396ba00",
      "name": "Send a message",
      "webhookId": "321a6cc0-1e7e-4c2a-9356-a1808a4f63f7",
      "credentials": {
        "slackApi": {
          "id": "tWwMCZRr05t4UFHS",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "billing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "afada2d8-60c6-4b72-9115-cb5474bfa5e7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fe91856d-a43d-4d24-b32d-9c73343d5a4c",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "technical",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7752d171-7b1a-4b06-a073-75aab812c36f",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        288
      ],
      "id": "a1b97725-5ef6-41bf-94ce-19ce8514b58e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#support-general",
          "mode": "name"
        },
        "text": "=💳 Billing ticket received — escalate to billing team {{ $json.output.category }}, {{ $json.output.sentiment }} Ticket: {{ $('Webhook').item.json.body.ticket }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1136,
        144
      ],
      "id": "b22c32fb-4568-4d4a-96b6-25d17a30b87d",
      "name": "Send a message1",
      "webhookId": "4a762aed-1f07-4ddb-9f54-c352259c6690",
      "credentials": {
        "slackApi": {
          "id": "tWwMCZRr05t4UFHS",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#support-general",
          "mode": "name"
        },
        "text": "=🔧 Technical ticket received — assign to tier-2 {{ $json.output.category }}, {{ $json.output.sentiment }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1136,
        304
      ],
      "id": "b1945182-f694-4784-a9d6-82764411fbd3",
      "name": "Send a message2",
      "webhookId": "4a762aed-1f07-4ddb-9f54-c352259c6690",
      "credentials": {
        "slackApi": {
          "id": "tWwMCZRr05t4UFHS",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#support-general",
          "mode": "name"
        },
        "text": "=📋 General inquiry — send auto-reply {{ $json.output.category }}, {{ $json.output.sentiment }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1136,
        496
      ],
      "id": "1ee44c78-9af0-4b83-a8f8-35ad60c280f3",
      "name": "Send a message3",
      "webhookId": "4a762aed-1f07-4ddb-9f54-c352259c6690",
      "credentials": {
        "slackApi": {
          "id": "tWwMCZRr05t4UFHS",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f5ae6ae0-18ca-453c-9472-c97a1af581e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c70ce65ade1a728b833043e0f92b5a93171fc152edd0363471d0b606ef8387de"
  },
  "nodeGroups": [],
  "id": "5B2aj9QshSD6PlH9",
  "tags": []
}